
.navbar {
  background: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);;
  padding: 1rem;
  height: 68px;
}

.navbar-brand {
  color: #000000;
  font-size: 2rem;
  font-weight: bold;
}

.form-control {
  border-radius: 0.20rem;
  height: 30px; /* Adjust height */
  font-size: 0.75rem; /* Adjust font size */
  padding: 0.25rem 0.5rem; /* Adjust padding */
}

.btn-outline-success {
  color: #ffffff;
  border-color: #000000;
  height: 30px; /* Adjust height */
  font-size: 0.75rem; /* Adjust font size */
  padding: 0.25rem 0.5rem; /* Adjust padding */
}

.btn-outline-success:hover {
  background-color: #ffffff;
  color: #343a40;
  border-color: #ffffff;
}

/* Icons styling */
.navbar-nav .nav-link i {
  margin-right: 0.5rem;
}

/* Responsive adjustments */
@media (max-width: 992px) {
  .navbar-nav {
    text-align: center;
  }
  .navbar-nav .nav-link {
    margin: 0.5rem 0;
  }
}

@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }
  .navbar-nav .nav-link {
    padding: 0.5rem 1rem;
  }
  .form-control {
    width: 80%;
    margin-bottom: 0.5rem;
  }
  .btn-outline-success {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .navbar-brand {
    font-size: 1.25rem;
  }
  .navbar-nav .nav-link {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
  }
  .navbar-nav .nav-link i {
    font-size: 0.75rem;
  }
}
li > a {
  &:hover {
    background-color: #6bbdff;
    border-radius: 5px;
    text-decoration: underline;
  }
  &.active {
    color: #1293ef;
    border-radius: 5px;
  }
}

.clickable-image {
  cursor: pointer;
  width: 24px; /* Adjust size as needed */
  height: 24px; /* Adjust size as needed */
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.white-text, .white-text i {
  color: white;
  font-size: 8px;
}
/* Change the color of the bell icon */
.fas.fa-bell {
  color: #ffffff; /* Example color */
}

/* Customize the badge */
.badge-notification {
  background-color: #ff5733; /* Example color */
  font-size: 0.8rem; /* Example size */
}

/* Customize the dropdown menu */
.dropdown-menu {
  background-color: #151e34; /* Example background color */
  border-radius: 10px; /* Example border radius */
}

/* Customize the dropdown items */
.dropdown-item {
  color: #ffffff; /* Example text color */
  padding: 10px 20px; /* Example padding */
}

.dropdown-item:hover {
  background-color: #555; /* Example hover background color */
}
